
<mat-toolbar color="accent" style="height: 10% !important;">
    <div class="container">
        <p class="text-center m-0">
            <font size="3"> การคำนวณหาอัตราการรั่ว</font>
        </p>
    </div>
</mat-toolbar>



<div class="container">
    <div class=" d-flex justify-content-center">
        <div class="col-10 col-lg-6 mt-5">
            <div class="form-group row">
                <label for="example-search-input" class="col-6 col-form-label">Time on load (s)</label>
                <div class="col-6">
                    <input class="form-control" type="number" min="0.1" [(ngModel)]="timeOnload"
                        (input)="onSearchChange()">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-6 col-form-label">Time Unload (s)</label>
                <div class="col-6">
                    <input class="form-control" type="number" [(ngModel)]="timeUnload" (input)="onSearchChange()">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-6 col-form-label">FAD Comp (l/s)</label>
                <div class="col-6">
                    <input class="form-control" type="number" [(ngModel)]="FADComp" (input)="onSearchChange()">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-6 col-form-label">FAD Leak (l/s)</label>
                <div class="col-6">
                    <input class="form-control" [disabled]="true" type="number" [(ngModel)]="FADL"
                        (input)="onSearchChange()">
                </div>
            </div>

        </div>

    </div>
</div>