<!-- <div class="container">
    <div class="mt-5">
        <mat-grid-list [cols]="breakpoint" rowHeight="2:2" [gutterSize]="'10px'">

            <mat-grid-tile [style.backgroundColor]="'#'" href="#performance" role="button" class="btn btn-primary"
                data-toggle="modal">
                <div class="row">
                    <div class="col-12 pt-4">
                        <img src="assets/img-app/rotaty-btn.png" width="50%">
                    </div>

                    <div class="col-12 pt-4">
                        <span>Performance</span>
                    </div>
                </div>

            </mat-grid-tile>

            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            <mat-grid-tile>5</mat-grid-tile>
            <mat-grid-tile>6</mat-grid-tile>
        </mat-grid-list>
    </div>
</div> -->



<!--==============================
              header
=================================-->

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <h1>
                        <a>
                            <img src="assets/img-app/logo.png" alt="Logo alt">
                        </a>
                    </h1>
                </div>
            </div>
        </div>
        <section id="stuck_container">
            <!--==============================
                Stuck menu
    =================================-->
            <div class="container">
                <div class="row">
                    <div class="col-12 ">
                        <div class="navigation ">
                            <nav>
                                <br>
                            </nav>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

        </section>
        <section class="page1_header ">
            <div class="container">

                <div class="row">

                    <div class="col-5  ">

                        <div class="col-12 text-center ">

                            <a class="banner " data-toggle="modal" data-target="#performance" role="button">
                                <div class="maxheight mb-3 mt-3">
                                    <div class="fas fa-wrench mb-3"></div>kW/FAD Analysis
                                </div>
                            </a>


                            <a class="banner " data-toggle="modal" data-target="#volume-tank" role="button">
                                <div class="maxheight mb-3 mt-3">
                                    <div class="fas fa-spray-can mb-3"></div>Volume Tank
                                </div>
                            </a>

                        </div>

                        <div class="col-12">
                            <a class="banner2 " data-toggle="modal" data-target="#pressure-drop" role="button">
                                <div class="maxheight1 mb-3 mt-3">
                                    <div class="fas fa-fill-drip mb-3"></div>Pressure drop
                                </div>
                            </a>

                            <a class="banner2 " data-toggle="modal" data-target="#fad-leak" role="button">
                                <div class="maxheight1 mb-3 mt-3">
                                    <div class="fas fa-wind mb-3"></div>FAD leak
                                </div>
                            </a>
                        </div>

                        <div class="col-12 text-center ">

                            <a class="banner" data-toggle="modal" data-target="#temp-reduct" role="button">
                                <div class="maxheight mb-3 mt-3">
                                    <div class="fas fa-temperature-low mb-3"></div>Temp Reduction
                                </div>
                            </a>


                            <a class="banner " data-toggle="modal" data-target="#pressure-reduct" role="button">
                                <div class="maxheight mb-3 mt-3">
                                    <div class="fas fa-sort-amount-down-alt mb-3"></div>Pressure Reduction
                                </div>
                            </a>

                        </div>


                    </div>



                    <div class="col-5  grid_5 ml-0 p-2">
                        <div class="col-12 m-0 p-0">
                            <h2>
                                <font size="40"> Emco </font> <br>
                                <font size="40">Air</font> <br>
                                <font size="40"> Compressure</font>
                            </h2>
                        </div>
                        <div class="col-12 mt-2 pt-5 pl-0">
                            <font size="6"> We help you calculate for your business.</font>
                        </div>

                    </div>

                    <div class="col-1  grid_5 ml-2">

                    </div>

                </div>
            </div>
        </section>
    </header>
</body>


<!-- performance -->
<div class="modal mb-4" id="performance" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full " role="document">

        <div class="modal-content">
            <!-- <div class="modal-header">
                    <h5 class="modal-title">Performance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div> -->
            <div class="modal-body p-0 ">
                <app-performance></app-performance>
            </div>
            <div class="modal-footer p-1">
                <div> <i class="fa fa-square" style="color:rgb(61,204,91)"></i> ดีมาก</div>
                <div> <i class="fa fa-square" style="color:rgb(239,214,19)"></i> มาตรฐาน</div>
                <div> <i class="fa fa-square" style="color:rgb(255,84,84)"></i> แย่</div>
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>



<!-- volume-tank -->
<div class="modal mb-2" id="volume-tank" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full " role="document">

        <div class="modal-content">
            <div class="modal-body p-0 ">
                <app-volume-tank></app-volume-tank>
            </div>
            <div class="modal-footer p-1">

                <div class="container">
                    <p class="text-center m-0">
                        Time factor = 3 or 1.5 
                    </p>
                </div>

                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<!-- pressure-drop -->
<div class="modal mb-2" id="pressure-drop" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full " role="document">

        <div class="modal-content">
            <div class="modal-body p-0 ">
                <app-pressure-drop></app-pressure-drop>
            </div>
            <div class="modal-footer p-1">
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- fad-leak -->

<div class="modal mb-2" id="fad-leak" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full " role="document">

        <div class="modal-content">
            <div class="modal-body p-0 ">
                <app-fad-leak></app-fad-leak>
            </div>
            <div class="modal-footer p-1">
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- temp-reduct -->
<div class="modal mb-2" id="temp-reduct" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full " role="document">

        <div class="modal-content">
            <div class="modal-body p-0 ">
                <app-temp-reduct></app-temp-reduct>
            </div>
            <div class="modal-footer p-1">
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- pressure-reduct -->
<div class="modal mb-2" id="pressure-reduct" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full " role="document">

        <div class="modal-content">
            <div class="modal-body p-0 ">
                <app-pressure-reduct></app-pressure-reduct>
            </div>
            <div class="modal-footer p-1">
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>