<mat-tab-group mat-align-tabs="center" [selectedIndex]="0" [color]="'warn'" [backgroundColor]="'accent'">
    <!-- การหาขนาดถังเก็บอากาศอัดที่เหมาะสม -->
    <mat-tab label="การหาขนาดถังเก็บอากาศอัดที่เหมาะสม">

        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-1 col-lg-3 mt-5">
                </div>

                <div class="col-10 col-lg-6 mt-5">
                    <div class="form-group row">
                        <label for="example-search-input" class="col-6 col-form-label">FAD (litre/sec)</label>
                        <!-- แปลงเป็น m^3/min.*0.06 -->
                        <div class="col-6">
                            <input class="form-control" type="number" min="0.1" [(ngModel)]="FAD"
                                (input)="onSearchChange()">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-6 col-form-label">A (l)</label>
                        <div class="col-6">
                            <input class="form-control" type="number" [(ngModel)]="time" (input)="onSearchChange()">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-6 col-form-label">Using Pressure (bar)</label>
                        <div class="col-6">
                            <input class="form-control" type="number" [(ngModel)]="usingPressure" (input)="onSearchChange()">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-6 col-form-label">Tank volume (cubic meter)</label>
                        <div class="col-6">
                            <input class="form-control" type="number" [(ngModel)]="tankVolume" (input)="onSearchChange()">
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </mat-tab>

</mat-tab-group>